<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CafeApp.Winform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CafeApp.Winform.Properties.Settings.ModelQuanLiCafe"
      connectionString="data source=.\SQL2014;initial catalog=QuanLiCafe;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <CafeApp.Winform.Properties.Settings>
      <setting name="TaiKhoan" serializeAs="String">
        <value />
      </setting>
      <setting name="Skin" serializeAs="String">
        <value />
      </setting>
      <setting name="TenDonVi" serializeAs="String">
        <value />
      </setting>
      <setting name="DiaChi" serializeAs="String">
        <value />
      </setting>
      <setting name="Slogan" serializeAs="String">
        <value />
      </setting>
      <setting name="LienHe" serializeAs="String">
        <value />
      </setting>
    </CafeApp.Winform.Properties.Settings>
  </userSettings>
</configuration>